<hr>
<p>carts : {{carts}}</p>
<ul class="list-group">
  <li *ngFor="let it of carts" class="list-group-item">
    <ul>
      <li class="list-inline">id: {{it.id}}</li>
      <li class="list-inline">resort: {{it.resort}} , price <b>{{it.price}}</b></li>
      <li class="list-inline">dateStart: {{it.dateStart}}</li>
      <li class="list-inline">dateEnd: {{it.dateEnd}}</li>
      <li class="list-inline">powder: {{it.powder}}</li>
    </ul>
  </li>
</ul>

<button class="btn btn-primary" (click)="completeTask($event)" >Done</button>

<p>
  Visitor Cart - list works!
</p>

<!--<app-cart
  *ngFor="let cart of carts"
  [cart]="cart"
  (complete)="onCompleteTask($event)">
</app-cart>-->
