<h1>Hello. It works. Components Demo</h1>
<p><strong>
Goto app.component.html and uncomment a chunk of code
</strong></p>

<!--AppModule-->
<h3>AppModule</h3>
<!--<app-module-container></app-module-container>-->
<!--<h3 class="text-danger">app-cart-list simple</h3>-->
<!--<app-cart-list>-->
<!--</app-cart-list>-->


<h3>app-cart-list2 (parent-child)</h3>
<app-cart-list
  [carts]="carts"
  (complete)="onCompleteTask($event)">
</app-cart-list>

<!--

<h4>Display Single Data and Collection Demo</h4>
<app-list></app-list>
-->
